.iswad_pagination {
  // background-color: silver;

  &_item {
    margin: 1rem;
    width: 25px;
    height: 25px;
    color: pink;
    display: flex;
    justify-content: center;
    align-items: center;

    border: solid 1px pink;
    border-radius: 50%;
    font-size: 12px;
    &_active {
      color: black;
      background-color: pink;
    }
  }
}
