.iswad_table {
  // border: solid 1px;
  border-radius: 10px;

  color: white;
  &_headContainer {
    display: flex;
    // justify-content: center;
    align-items: center;
    position: relative;
  }

  &_search {
    padding: 2px 8px;
    width: 150px;
  }
}

%oneLine {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.iswad_th {
  font-weight: bold;
  font-size: 14px;
  color: pink;
  background-color: $themeFour;
  @extend %oneLine;
}

.iswad_tr {
  & .iswad_td {
    // border-bottom: dotted 0.3px white;
  }

  &:nth-child(odd) {
    background-color: $themeFour;
  }

  // &:nth-child(even) {
  //   color: black;
  // }

  &:last-child {
    & .iswad_td {
      border-bottom: none;
    }
  }
  &:hover {
    background-color: pink;
    color: black;
  }
}

.iswad_td {
  display: flex;
  // justify-content: center;
  align-items: center;
  // border-right: solid 1px black;
  padding: 10px 10px;
  // border-bottom: dotted 0.2px $inverseColor;

  &:last-child {
    border-right: none;
  }
}
