@import '@/styles/base/_variables';

.headerContainer {
  height: $HeaderHeight;
}

.activeDesktopNavItem {
  background-color: $themeFour;
  box-shadow: $boxShadow1;
}

.desktopNavItem {
  &:hover {
    color: pink;
  }
}

.activeMobileNavItem {
  background-color: $themeFour;
  box-shadow: $boxShadow1;
}
